node_modules/
dist/
__pycache__/
*.pyc
/cdn/
traffic/
traffic_old/
response.json
postmodify_response.json
premodify_response.json
package-lock.json
cannae_config.toml
/db/
logs/
tools/
_index.js
src/utils/change_manifest_url.py
src/utils/download_assets.py
src/utils/extract_req.js
test.py
test_*.js
src/mitmproxy/capture_headers.py
src/mitmproxy/loh_proto_capture.py
src/mitmproxy/loh_header_capture.py
src/mitmproxy/decode_proto.py
